<h2>Update Discount</h2> 

<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
      <label for="percent">Percent</label>
      <input type="text" class="form-control" id="percent" required [(ngModel)]="discount.percent" name="percent">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="discount.description" name="description">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>



    