<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Пользователи</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Password</th>
          <th>Birth Date</th>
          <th>Category Name</th>       
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{user.username}}
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
          <td>{{user.birthDate}}</td>
          <td>{{user.categoryName}}</td>
          <td *ngIf="showAdminBoard">
              <button (click)="updateUser(user.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>