<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Order List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Дата</th>
          <th>Название</th>
          <th>Логин</th> 
          <th>Цена</th>   
          <th>Скидка, %</th>  
          <th>Количество</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderhist of orderHistorys">
          <td>{{orderhist.date}}</td>
          <td>{{orderhist.good.name}}</td>
          <td>{{orderhist.user.username}}
          <td>{{orderhist.good.price}}</td>
          <td>{{orderhist.discount.percent}}</td>
          <td>{{orderhist.amount}}</td>      
          <!--<td><button (click)="deleteOrderhist(orderhist.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateOrderhist(orderhist.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="orderhistDetails(orderhist.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>-->    
        </tr>
      </tbody>
    </table>
  </div>
  

</div>